main {
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    gap: 16px;
}

header {
    position: fixed;
    height: 100vh;
    width: 7.6vw;
    padding-top: 2.5vw;

    h1 {
        word-break: break-all;
        width: 1em;
        margin: auto;
        font-size: 2vw; // justera vid behov i teblet-version
        line-height: 1.8;

        .cookie {
            //Cookie i tough cookie - i headern
            display: block;
            padding-top: 1em;
        }
    }
}

//Styling page one 
.page-one {
    grid-column: 2 / span 12;
    margin-right: 16px;

    .top {
        padding-top: 20px;

        .page-title {
            grid-column: span 4;
            justify-content: center;

            .drizzle {
                font-size: 3.19em;
                margin-right: -90px;
            }

            .tahini {
                font-size: 6.5em;
            }

            .chickpeas {
                font-size: 2.5em;
                margin-right: 60px;
            }
        }

        .text-one {
            grid-column: span 7;
            padding-bottom: 30px;
            font-size: 3vw;
            padding-top: 0;
        }
    }

    .bottom {
        gap: 16px;

        .image {
            grid-column: span 5;
        }

        .menu-info {
            grid-column: span 6;
            padding: 20px;
            padding-top: 0;
            padding-bottom: 0;
            border-top: 0;

            .text-two {
                font-size: 3vw;
                margin-top: 10px;
            }

            .explore-menu {
                font-size: 3vw;
            }
        }
    }
}

.page-two {
    grid-column: 2 / span 11;

    .images-page-two {
        gap: 16px;

        .image-two {
            grid-column: span 3;
            height: 30em;
            width: 30%;
        }

        .image-three {
            grid-column: span 4;
            height: 30em;
            width: 30%;
        }

        .image-four {
            display: block;
            grid-column: span 4;
            height: 30em;
            width: 30%;
        }
    }

    ul {
        padding-bottom: 0;

        li {
            display: grid;
            grid-template-columns: repeat(11, 1fr);
            grid-template-areas: "dish-name dish-desc dish-price";
            align-items: center;

            .dish-name,
            .halloumi,
            .moutabbal,
            .artichoke {
                grid-area: dish-name;
                grid-column: span 3;
                text-align: left;
                padding-left: 10px;
                font-size: 1.5em;
                position: relative;
            }

            .dish-desc {
                grid-area: dish-desc;
                grid-column: 5 / span 4;
                text-align: left;
            }

            .dish-price {
                grid-area: dish-price;
                grid-column: span 11;
                text-align: right;
            }

            .vegan {
                max-width: 20%;
                position: absolute;
                left: 29em;
            }

            .new {
                max-width: 25%;
                padding-top: 0.2em;
                position: absolute;
                left: 27em;
            }

            .popular {
                max-width: 55%;
                position: absolute;
                left: 20em;
            }
        }
    }

}

.page-three {
    grid-column: 2 / span 12;
    border-left: 16px solid #fff;
    border-right: 0;
    margin-left: -15px;
    padding-top: 5em;
    padding-bottom: 10em;

    display: grid;
    grid-template-columns: repeat(12, 1fr);

    .book-table {
        font-size: 2em;
        align-items: baseline;
        padding-bottom: 16px;
    }

    .contact-form {
        grid-column: 1 / span 4;
        padding-top: 3em;

        span {
            font-size: 1.23em;
        }

        input,
        textarea {
            margin-bottom: 20px;
            margin-left: 50px;
            width: 20%;
        }
    }

    .buttons-form {

        .cancel-button {
            margin-left: 0;
        }

        .submit-button {
            margin-left: 3%;
        }

    }

    .image-five {
        grid-column: 5 / span 7;
        padding-top: 10px;
        padding-left: 3em;
    }
}

.cookie-banner {
    .accept-text {
        margin-left: 20%;
    }

    .cookie-buttons {
        flex: 1;

        .accept-button,
        .decline-button {
            font-size: 1.5rem;
        }
    }
}