body{
    background-color: rgb(47, 255, 0);
}

main {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 16px;
}

header {
    position: relative;
    grid-column: 1;
    height: 100vh;
    flex-direction: column;
    width: auto;

    h1 {
        margin: 0;
        word-break: break-all;
        width: 1em;
        align-self: center;
        margin: auto;
    }
}

.page1 {
    grid-column: span 11;
    min-height: 100vh;

    .top, .bottom {
        display: grid;
        gap: 16px;
        grid-template-columns: repeat(11, 1fr)
    }

    .top {
        .page-title {
            grid-column: span 4;
        }
        .text {
            grid-column: span 7;
        }
    }

    .bottom {
        .image {
            grid-column: span 5;
        }
        .text {
            grid-column: span 6;
        }
    }
}