main {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 16px;
}

header {
    position: sticky;
    height: 100vh;
    width: auto;

    h1 {
        word-break: break-all;
        width: 1em;
        margin: auto;
        font-size: 2vw; // justera vid behov i teblet-version
        line-height: 1.5;

        .cookie {
            //Cookie i tough cookie - i headern
            display: block;
            padding-top: 1em;
        }
    }
}

//grid-ändringar 
.page1 {

    .top,
    .bottom {
        gap: 16px;
    }

    .top {
        .page-title {
            grid-column: span 4;
        }

        .text-one {
            grid-column: span 7;
        }
    }

    .bottom {
        .image {
            grid-column: span 5;
        }

        .text {
            grid-column: span 6;
        }
    }
}