body{
    background-color: $client-secondary-colour;
}

header{
    background-color: black;
    display: flex;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 4em;
    
        h1{
            color: white ;
            text-transform: uppercase;
            margin: 0;
            padding-top: 15px;
             margin-left: 80px;
        }
    }

h2{
    margin-top: 1000px;
}