body {
    background-color: $client-secondary-colour;
    font-family: $client-font-family-hedings;
}

header {
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 4em;
    z-index: 2;

    h1 {
        color: rgb(255, 255, 255);
        text-transform: uppercase;
        font-size: 6vw;
        margin-left: 80px;
        letter-spacing: 0.5em;
    }
}

//GRID
.page-one, 
.page-two {
    grid-column: span 11;
    min-height: 100vh;
    margin: 0;

    .top,
    .bottom {
        display: grid;
        grid-template-columns: repeat(11, 1fr)
    }

    .top,
    .bottom {
        .page-title,
        .text-one,
        .image,
        .menu-info {
            grid-column: span 11;
        }
    }

    //Tahini - drizzle - chickpeas
    .top {
        background-color: rgb(0, 0, 0);
        padding-top: 80px;

        .page-title {
            text-transform: uppercase;
            display: flex;
            flex-direction: column;
            align-items: center;

            .drizzle {
                color: $client-tertiary-colour;
                font-size: 40px;
                margin-right: -70px;
            }

            .tahini {
                color: $client-primary-colour;
                font-size: 80px;
                line-height: 0.5;
                z-index: 1;
            }

            .chickpeas {
                color: $client-secondary-colour;
                font-size: 30px;
                margin-right: 70px;
            }
        }
    }

    //styling grön text sida 1 
    .text-one {
        font-size: 4vw;
        color: $client-primary-colour;
        padding: 20px;
        background-color: black;
        padding-top: 20px;
        margin: 0;
    }

    //styling salladsbild
    img {
        max-width: 100%;
        height: auto;
        display: block;
        padding: 0;
        margin: 0;
    }

    //styling text med vit bakgrund och lila text
    .menu-info {
        background-color: rgb(255, 255, 255);
        font-size: 4vw;
        padding: 10px;
        padding-top: 0;

        .text-two {
            color: $client-tertiary-colour;
            margin-bottom: 0;
            padding-bottom: 5px;
        }

        .explore-menu {
            font-size: 5vw;
            text-transform: uppercase;
            background-color: rgb(255, 255, 255);
        }
    }
}

.page-two {

    ul {
        background-color:$client-secondary-colour;
        gap: 6px;
        padding-top: 15px;

        li {
            display: grid;
            grid-template-columns: repeat(11,1fr);
            padding: 10px;
            background-color: rgb(255, 255, 255);

            border-bottom: 1px solid #000;
            border-top: 1px solid #000;
        }
    }

    .dish-name {
        text-transform: uppercase;
        grid-column: span 9;
        text-align: left;
        padding-left: 10px;
    }
        
    .dish-price {
        grid-column: span 2;
        text-align: right;
        padding-right: 8px;
    }

    .dish-desc {
        font-family: $client-font-family-body-text;
        grid-column: span 10;
        text-align: left;
        font-size: 0.9em;
    }
    

}
