//Deklarationer ? 
$client-primary-colour: #00FF38;
$client-secondary-colour: #FFF236;
$client-tertiary-colour: #aa75ff;
$client-complementary-colour: #000000;

$client-font-family-hedings: "Jockey One", sans-serif;
$client-font-family-body-text: "Roboto Condensed", sans-serif;

@function pxToEm($px) {
    @return ($px/16) * 1rem;
  }

@import "buttons";
@import "mobile";

//ändra storleken på skärmbredden senare 
@media screen and (min-width: 1180px) {
    @import "desktop";
}


// shitf+alt+8 = curly bracket