button {
  width: 35px;
  height: 35px;
  background: transparent;
  border: 0;

    span {
    display: block;
    width: 25px;
    height: 3px;
    background-color: rgb(0, 0, 0);
    border-radius: 6px;
    margin-bottom: 4px;
    }
}

input:checked + button span {
  position: absolute;
  transition: all 0.4s ease-in-out;
}

input:checked + button span:nth-child(2){
  opacity: 0;
}

input:checked + button span:nth-child(1){
  transform: rotate(-45deg);
}

input:checked + button span:nth-child(3){
  transform: rotate(45deg);
}




// shitf+alt+8 = curly bracket 